.loading-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 3rem;
}

.loading-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;
  border: 1px solid #ccc;
  border-radius: 1.2rem;
}

.loadingImg {
  width: 300px;
  height: 300px;
  background: url("../imgs/loadingImg.png");
  object-fit: cover;
  background-size: cover;
  background-position: center center;
}

.shop-products {
  margin: 10rem 10rem 0 10rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.category-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 3rem;
}

.category-button {
  padding: 1rem;
  margin-top: 1rem;
  font-size: 1.3rem;
  padding: 1.2rem 1.8rem;
  font-weight: bold;
  background-color: #fbb042;
  border: 2px solid #fbb042;
  color: white;
}

.active {
  background-color: white;
  color: #fbb042
}

.shop-products-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 3rem;
}

.shop-products-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;
  border: 1px solid #ccc;
  border-radius: 1.2rem;
}

.shop-products-item-image {
  border-radius: 1.2rem;
}
.shop-products-item-category {
  color: #fbb042;
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.shop-products-item-name {
  color: #000000;
  font-size: 2.2rem;
  font-weight: bold;
}

.shop-products-item-price {
  margin-top: 0.5rem;
  color: #000000;
  font-size: 1.7rem;
  font-weight: bold;
}

.shop-products-item-old-price {
  text-decoration: line-through;
  color: #6b6b6b;
}

.shop-products-button {
  margin-top: -1.3rem;
  margin-bottom: 1.5rem;
}
