.nav-items{
    transition:  ease-out 0.5s;
    position: relative;
}

.nav-items::after{
    content:"";
    position: absolute;
    background-color: #FBB042;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -30px;
    transition:  ease-in-out 0.5s;
}

.nav-items:hover::after{
    width: 100%;
}
